:root {
  --color-background: #191919;
  --color-primary: #f4f4f5;
  --color-secondary: #27272a;
}

html,
body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-primary);
}

/* ブラウザでのaタグのデフォルトスタイルを反映させない */
a {
  color: inherit;
  text-decoration: inherit;
}
